/* Center the app vertically & horizontally */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.body{
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

/* Logo & Header */
.image {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 160px !important;
  width: 180px !important;
}


.logo {
  height: 100px;
}

/* Form Container */
.form-container {
  background-color:black;
  padding: 40px;
  
  border-radius: 15px;
  width: 450px;
  height:450px;
  text-align: center;
  color:white;
  font-family: 'Poppins', sans-serif;
}

/* User Type Selection */
.user-type-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.user-type-toggle button {
  color:white;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 12px;
  transition: color 0.3s;
  font-family: 'Poppins', sans-serif;
}

.user-type-toggle .active {
  color:  #f9eb51;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
}

/* Toggle between Sign Up & Login */
.auth-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.auth-toggle button {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 12px;
  transition: color 0.3s ease;
  color:white;
  font-family: 'Poppins', sans-serif;
}

.auth-toggle .active {
  color:  #f9eb51;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
}

/* Form Fields */
.form-group {
  margin-bottom: 15px;
  text-align: left;
  color:white;
  font-family: 'Poppins', sans-serif;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 5px;
  color: #f0ecec;
  font-family: 'Poppins', sans-serif;
}

.form-group input {

  width: 90%;
  margin-left: 15px;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
  font-family: 'Poppins', sans-serif;
}

.form-group input:focus {
  border-color: #f9eb51;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

/* Buttons */
.auth-btn {
  width: 80%;
  margin-left: 20px;
  justify-content: center;
  padding: 10px;
  background-color: #f9eb51;
  color:rgb(5, 46, 10);
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease;
}

.auth-btn:hover {
  background-color: #081109;
  font-family: 'Poppins', sans-serif;
  color: #f9eb51;
}

/* Error & Success Messages */
.error-message {
  color: rgb(246, 243, 243);
  font-size: 14px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.success-message {
  color: #f9eb51;
  font-size: 14px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}